{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="tweet">
    <img class="tweet-profile" src="https://pbs.twimg.com/profile_images/1488328679058857986/fBy9LzoN_400x400.jpg">
    <div class="tweet-col-2">
      <div class="tweet-header">
        <p class="tweet-name">Musk Bot</p>
        <p class="tweet-username">@muskbot</p>
      </div>
      <div class="tweet-content">
        <p class="tweet-text">{{ generated_text }}</p>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button id="generate">Generate</button>
  </div>
{% endblock %}